<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.milreuelima.iesb.com.br.futebas" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Atividades.MainFutebasActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="FutebasApp"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1647954948749801" />

        <activity
            android:name=".Atividades.ListaJogadores"
            android:label="@string/title_activity_lista_jogadores" >
        </activity>
        <activity
            android:name=".Atividades.Pagamento"
            android:label="@string/title_activity_pagamento" >
        </activity>
    </application>

</manifest>
